# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.git
.gitignore
.venv
.vscode
.build
.node_modules

# Docker
Dockerfile
docker-compose.yaml

media/*
sent_emails
static/admin
static/debug_toolbar

.env
**/.DS_Store
*.md
.python-version
nginx.conf
setup.cfg
requests.http
db.sqlite3
pyproject.toml
dump.json
*.csv
*.rar

.DS_Store
celerybeat-schedule.db

frontend/build
frontend/node_modules
venv
